@import "partials/mixins";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
  }

body .container {
	max-width: 100%;
}
body a {
	outline: none;
	letter-spacing: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body p {
	font-family: RobotoRegular, sans-serif;
}
body h1 {
	font-family: RobotoLight, sans-serif;
}
body h3 {

}
body h2 {

} 
body div, body p {
	font-family: RobotoLight, sans-serif;
	font-size: 16px;
}
a {
	font-family: RobotoRegular, sans-serif;
}
button {
	font-family: RobotoRegular;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

@media (min-width: 320px) {
    .container {
        width: 300px;
    }
}

@media (min-width: 410px) {
    .container {
        width: 430px;
    }
}

@media (min-width: 479px) {
    .container {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

.cover-wrapper {
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}



